@{
    ViewData["Title"] = "List All Movies";
}
@model List<MovieModel>

@* Movie Table View *@

<h2>@ViewData["Title"]</h2>

<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Title</th>
            <th>Category</th>
            <th>Year</th>
            <th>Director</th>
            <th>Rating</th>
            <th>Edited</th>
            <th>Lent To</th>
            <th>Notes</th>

            <th>Edit</th>
            <th>Delete</th>

        </tr>
    </thead>
    <tbody>

        @foreach (var x in Model)
        {
        <tr>
            <td>@x.Title</td>
            <td>@x.Category.CategoryName</td>
            <td>@x.Year</td>
            <td>@x.Director</td>
            <td>@x.Rating</td>
            <td>@x.Edited</td>
            <td>@x.LentTo</td>
            <td>@x.Notes</td>

            <td><a asp-controller="Home" asp-action="Edit" asp-route-movieid="@x.MovieId">Edit</a></td>
            <td><a asp-controller="Home" asp-action="Delete" asp-route-movieid="@x.MovieId">Delete</a></td>
        </tr>
        }

    </tbody>
</table>